.btn {
  @include btn($nitac-official);
}

.btn-facebook { @include btn($facebook-official); }
.btn-twitter { @include btn($twitter-official); }
.btn-blog { @include btn($blog-official); }
.btn-link { @include btn($nitac-official); }

.btn-actions {
  margin: 5px auto 20px auto;

  a { color: $btn-color; }
}

.user-btn-actions-sm {
  display: $user-btn-actions-sm-display;
  text-align: center;
}

.sns-buttons {
  display: $sns-buttons-display;
  padding: 0 $sns-buttons-padding 0 0;
  width: $sns-buttons-width;

  .btn {
    display: block;
    height: $btn-height;
    line-height: $btn-height;
    text-align: center;
    width: $btn-width;
  }

  li { margin-bottom: $space-small; }
}

.sns-buttons-sm {
  display: $sns-buttons-sm-display;
  text-align: center;
  width: $sns-buttons-sm-width;

  .btn-facebook,
  .btn-twitter,
  .btn-blog,
  .btn-link {
    display: inline-block;
    margin-bottom: $space-small;
    width: $sns-buttons-sm-btn-width;
  }
}
