.btn-actions {
  margin: 5px auto 20px auto;

  .btn {
    border-color: $nitac-official;
    border-radius: $btn-radius;
    background-color: $white;
    color: $gray;

    &:hover {
      border-color: $white;
      background-color: $nitac-official;
      color: $white;
    }
  }
}

.btn-edit,
.btn-back,
.btn-show,
.btn-index,
.btn-new,
.btn-delete {
  /* margin-top: 20px; */
}
