.card {
  border: solid 1px $card-border-color;
  border-radius: $card-border-radius;
  display: table;
  width: 100%;
  margin-bottom: 30px;

  div[class*="-detail"] {
    /* padding: $padding-small $space-large; */
    display: table-cell;
    float: left;
    padding: 1% 5%;
    width: 60%;

    a {
      color: $green-light;
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }

  div[class*="-img"] {
    display: table-cell;
    float: left;
    width: 30%;

    img {
      width: 100%;
    }
  }

  .department-img {
    @include border-right-radius($card-border-radius);
    padding-right: 0;
  }

  .dep-taiiku { background-color: $dep-taiiku-official; }
  .dep-bunka { background-color: $dep-bunka-official; }
  .dep-kaikei { background-color: $dep-kaikei-official; }
  .dep-kankyo { background-color: $dep-kankyo-official; }
  .dep-shoki { background-color: $dep-shoki-official; }
  .dep-koho { background-color: $dep-koho-official; }

  .event-img {
    @include border-left-radius($card-border-radius);
    padding-left: 0;
  }

  .link-img,
  .actimes-img {
    @include border-top-radius($card-border-radius);
    /* @include square(100%); */
    display: block;
  }
}

.actimes,
.links {
  a {
    color: $green-light;
    text-decoration: none;
  }
}

.news,
.backnumbers {
  /* h3 { margin: 0 auto $margin-medium auto; } */

  a {
    color: $green-light;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

.actimes,
.links {
  text-align: center;
  a { text-decoration: none; }
}
