body {
  background-color: $base-bg;
  color: $base-color;
  margin: 0;
  font-size: $base-size;
  line-height: $base-line-height;
  font-family: Verdana, Roboto, 'Droid Sans', 游ゴシック, YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
}

header {
  color: $gray;
  width: 100%;
  top: 0;
  position: absolute;
  padding: 10px;
  height: $header-height;

  a {
    @include hover-color($gray, $gray);

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  .logo {
    width: 50%;
    position: absolute;
    right: 0;
  }

  h1 {
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-weight: bold;
    margin: 10px auto;
  }
}

footer {
  color: $footer-color;
  background-color: $footer-bg;
  width: 100%;
  bottom: 0;
  position: relative;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;

  a {
    font-weight: bold;
    @include hover-color($white, $white);
  }
}

main {
  margin-top: $header-height;
  margin-bottom: $footer-height;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

hr {
  border-bottom: solid 1px $gray;
  width: 20%;
  margin: $margin-large auto;
}

li { list-style: none; }

a { text-decoration: none; }

.navbar-default {
  background-color: $navbar-bg;
  border-color: $navbar-border-color;
  border-bottom: solid 10px $gray;
  border-radius: $navbar-radius;
  margin: 0;
}

.navbar .nav {
  margin: 0;
  display: table;
  color: $gray;
  width: 100%;

  li {
    display: table-cell;
    float: none;
    padding: 0;
    @include hover-bg($gray);

    a {
      text-align: center;
      @include hover-color($gray, $white);
    }
  }

  .now {
    border: none;
    background-color: $gray;
    a { @include hover-color($white, $white); }
  }
}
