.index {
  display: table-cell;
  width: $index-width;

  .news-content {
    .article-link {
      display: block;
      width: $article-link-width;
    }

    .article-img {
      display: block;
      max-width: 100%;
      margin-bottom: $space-medium;
    }

    a {
      color: $green-light;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}
