main {
  display: table;
  margin-top: $main-margin-top;
  min-height: 100%;
  padding: 0 $main-padding;
  width: $main-width;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }

  a {
    color: $green-light;
    text-decoration: none;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $gray;
    margin: 60px auto;
    width: 20%;
  }

  .prospective,
  .actimes,
  .clubs,
  .links {
    h2,
    > p {
      text-align: center;
    }
  }
}
