main {
  display: table;
  padding: 0 10%;
  width: 80%;

  .sns-buttons {
    display: table-cell;
    padding: 0 $sns-buttons-padding 0 0;
    width: $sns-buttons-width;
  }

  a {
    color: $green-light;
    text-decoration: none;
  }

  hr {
    border: 0;
    border-bottom: 1px solid $gray;
    margin: 60px auto;
    width: 20%;
  }

  .prospective,
  .actimes,
  .clubs {
    h2,
    > p {
      text-align: center;
    }
  }
}
