@mixin hover-color($hover-color) {
  &:hover,
  &:active {
    color: $hover-color;
  }
}

@mixin hover-bg($hover-bg) {
  &:hover,
  &:active {
    background-color: $hover-bg;
    border-color: transparent;
    text-decoration: none;
  }
}

@mixin btn($hover-bg, $width, $height) {
  border: 1px solid $btn-border;
  border-radius: $btn-radius;
  background-color: $btn-bg;
  color: $btn-color;
  font-size: $base-size * 0.9;
  height: $height;
  padding: 4px 8px;
  width: $width;

  @include hover-bg($hover-bg);
  @include hover-color($white);
}

@mixin border-top-radius($border-radius) {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

@mixin border-left-radius($border-radius) {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

@mixin border-right-radius($border-radius) {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
