@mixin hover-color($default-color, $hover-color) {
  text-decoration: none;
  color: $default-color;
  &:hover,
  &:active {
    color: $hover-color;
    text-decoration: none;
  }
}

@mixin hover-bg($hover-bg) {
  &:hover,
  &:active {
    background-color: $hover-bg;
    border-color: transparent;
  }
}

@mixin btn-original($hover-bg, $width, $height) {
  color: $gray;
  background-color: $white;
  border: solid 1px $gray;
  border-radius: $base-radius;
  @include hover-bg($hover-bg);
  @include hover-color($gray, $white);
  @include size($width, $height);
}
