@mixin hover-color($default-color, $hover-color) {
  color: $default-color;

  &:hover,
  &:active {
    color: $hover-color;
  }
}

@mixin hover-bg($hover-bg) {
  &:hover,
  &:active {
    background-color: $hover-bg;
    border-color: transparent;
  }
}

@mixin btn($hover-bg, $width, $height) {
  color: $gray;
  background-color: $white;
  border: solid 1px $gray;
  border-radius: $btn-radius;
  height: $height;
  width: $width;
  @include hover-bg($hover-bg);
  @include hover-color($gray, $white);
}

@mixin border-top-radius($border-radius) {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

@mixin border-left-radius($border-radius) {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

@mixin border-right-radius($border-radius) {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
