//// colors ////

$white: #ffffff;
$gray: #666666;
$green-light: #80b552;

$nitac-official: #a14c4c;
$facebook-official: #3b5998;
$twitter-official: #55acee;
$blog-official: $green-light;

$dep-taiiku-official: #fdd212;
$dep-bunka-official: #8ec31e;
$dep-koho-official: #007bc3;
$dep-shoki-official: #e73828;
$dep-kaikei-official: #952d1f;
$dep-kankyo-official: #78c397;

//// shapes ////
$base-radius: 4px;
$base-size: 14px;
$base-line-height: 200%;

$space-small: 10px;
$space-medium: 30px;
$space-large: 60px;


//// components ////

$body-bg: $white;
$body-color: $gray;
$body-font-size: $base-size;
$body-line-height: $base-line-height;

$btn-bg: $white;
$btn-border: $gray;
$btn-color: $gray;
$btn-radius: $base-radius;
$btn-width: 160px;
$btn-height: 50px;

$card-border-color: $gray;
$card-border-radius: $base-radius;
$card-detail-padding: 5%;
$card-detail-width: 100% - $card-detail-padding * 2;
$card-img-width: 100%;

$actimes-li-width: 100%;
$link-li-width: 100%;

$event-img-bg: transparent;

$footer-height: 50px;
$footer-color: $white;
$footer-bg: $gray;

$header-color: $gray;
$header-height: 50px;
$header-logo-height: 50px;
$header-padding: 5%;
$header-title-width: 100%;
$header-title-font-size: $body-font-size * 1.4;
$header-user-btn-actions-display: none;
$header-width: 100% - $header-padding * 2;

$user-btn-actions-sm-display: auto;

$hr-margin: $space-large;

$main-margin-top: $space-small;
$main-padding: 3%;
$main-width: 100% - $main-padding * 2;

$nav-bg: $white;
$nav-border-color: $gray;
$nav-border-bottom-color: $gray;
$nav-color: $gray;
$nav-font-size: $body-font-size * .8;
$nav-height: 40px;
$nav-hover-bg: $gray;
$nav-hover-color: $white;
$nav-radius: 0;
$nav-ul-padding: 0%;
$nav-ul-width: 100% - $nav-ul-padding * 2;

$sns-buttons-display: none;
$sns-buttons-width: 25%;
$sns-buttons-padding: 5%;

$sns-buttons-sm-btn-width: 15%;
$sns-buttons-sm-display: block;
$sns-buttons-sm-width: 100%;

$index-width: 100%;
